.cpd-statement-activity
  - cpd_activity = cpd_statement_activity.cpd_activity
  - rule = cpd_statement_activity.cpd_statement.cpd_cycle.rule_for(cpd_activity)

  %p
    = cpd_statement_activity
    %br
    %small.text-muted= rule.credit_description

  - if cpd_activity.body.present?
    .mb-3= cpd_activity.body

  - if cpd_statement_activity.is_carry_over?
    %p
      %strong Carried Forward From
      %br
      = cpd_statement_activity.original.cpd_statement.cpd_cycle

  .row.mb-3
    .col-sm-8
      .row
        - if cpd_activity.amount_label.present?
          .col
            %strong= cpd_activity.amount_label
            %br
            = cpd_statement_activity.amount

        - if cpd_activity.amount2_label.present?
          .col.text-center
            %strong= cpd_activity.amount2_label
            = cpd_statement_activity.amount2

        - if cpd_activity.amount_static?
          .col
            %strong One (1) #{cpd_activity}:
            %br
            1

    .col-sm-4
      .row
        .col.text-center
          %strong= cpd_credits_label.titleize
          %br
          - if cpd_statement_activity.reduced_messages.present?
            %span{title: cpd_statement_activity.reduced_messages.values.join("\n\n")}= "#{cpd_statement_activity.score} *"
          - else
            = cpd_statement_activity.score.to_i

        .col.text-center
          %strong Carry
          %br
          = cpd_statement_activity.carry_forward.to_i

  - if cpd_statement_activity.files.present?
    %p
      %strong Supporting Documents

    %ul
      - cpd_statement_activity.files.each do |file|
        = link_to(file.filename, url_for(file), target: '_blank')

  %p
    %strong Description
    %br
    = cpd_statement_activity.description
