.cpd-statement-activity
  - cpd_activity = cpd_statement_activity.cpd_activity
  - rule = cpd_statement_activity.cpd_statement.cpd_cycle.rule_for(cpd_activity)

  %p= cpd_statement_activity

  - if cpd_activity.body.present?
    .mb-3= cpd_activity.body

  .row.mb-3
    .col-8
      %strong #{cpd_credits_label.titleize} Calculation
      %br
      = rule.credit_description

    .col-2.text-center
      %strong= cpd_credits_label.titleize
      %br
      - if cpd_statement_activity.reduced_messages.present?
        %span{title: cpd_statement_activity.reduced_messages.values.join("\n\n")}= "#{cpd_statement_activity.score} *"
      - else
        = cpd_statement_activity.score.to_i

    .col-2.text-center
      %strong Carry Forward
      %br
      = cpd_statement_activity.carry_forward.to_i

  .row.mb-3
    .col
      - if cpd_activity.amount_label.present?
        %p
          %strong= cpd_activity.amount_label.titleize.pluralize
          %br
          = cpd_statement_activity.amount

      - if cpd_activity.amount2_label.present?
        %p
          %strong= cpd_activity.amount2_label.titleize.pluralize
          %br
          = cpd_statement_activity.amount2

      - if cpd_activity.amount_static?
        %p
          %strong One (1) #{activity}
          %br
          1

      %p
        %strong Supporting Documents

        - if cpd_statement_activity.files.blank?
          %br
          None
        - else
          %ul
            - cpd_statement_activity.files.each do |file|
              = link_to(file.filename, url_for(file), target: '_blank')

    .col
      %p
        %strong Description
        %br
        = cpd_statement_activity.description
