- url = (cpd_statement_activity.persisted? ? effective_cpd.cpd_statement_cpd_statement_activity_path(cpd_statement_activity.cpd_statement, cpd_statement_activity) : effective_cpd.cpd_statement_cpd_statement_activities_path(cpd_statement_activity.cpd_statement))
- readonly = cpd_statement_activity.locked? || local_assigns[:readonly]

= effective_form_with(model: cpd_statement_activity, url: (readonly ? '#' : url), remote: true, class: 'cpd-statement-activity-form') do |f|
  - statement = cpd_statement_activity.cpd_statement
  - activity = cpd_statement_activity.cpd_activity
  - rule = statement.cpd_cycle.rule_for(activity)

  %h3= activity

  - if activity.body.present?
    = activity.body

  - if cpd_statement_activity.is_carry_over? && (current_user.id == cpd_statement_activity.cpd_statement.user_id)
    .alert.alert-warning
      This activity is read-only because it was carried forward from
      = cpd_statement_activity.original.cpd_statement.cpd_cycle

  .row.my-3
    .col-8
      %strong #{cpd_credits_label.titleize} Calculation
      %br
      = rule.credit_description

    .col-2.text-center
      - if f.object.persisted?
        %strong= cpd_credits_label.titleize
        %br
        - if f.object.reduced_messages.present?
          %span{title: f.object.reduced_messages.values.join("\n\n")}= "#{f.object.score} *"
        - else
          = f.object.score.to_i

    .col-2.text-center
      - if f.object.persisted?
        %strong Carry Forward
        %br
        = f.object.carry_forward.to_i

  .row
    .col
      - if activity.amount_label.present?
        = f.number_field :amount, label: activity.amount_label.titleize, required: true, readonly: readonly, disabled: readonly

      - if activity.amount2_label.present?
        = f.number_field :amount2, label: activity.amount2_label.titleize, required: true, readonly: readonly, disabled: readonly

      - if activity.amount_label.blank? && activity.amount2_label.blank?
        = f.hidden_field :amount, value: 1
        %p One (1) #{activity}

      - unless readonly && f.object.files.blank?
        = f.file_field :files, label: 'Supporting Documents', required: activity.requires_upload_file?, disabled: readonly

    .col
      = f.text_area :description, placeholder: 'Please provide any additional information about this activity', readonly: readonly, disabled: readonly

  - unless readonly
    = f.hidden_field :cpd_category_id
    = f.hidden_field :cpd_activity_id

    = f.submit do
      = f.save 'Save Activity'

      %div{style: 'position: absolute; left: 0;'}
        - if f.object.new_record?
          = link_to('Back', '#', class: 'btn btn-secondary', 'data-cpd-back-activity': true)
        - else
          - url = effective_cpd.cpd_statement_cpd_statement_activity_path(statement, cpd_statement_activity)
          = link_to('Delete', url, class: 'btn btn-danger', 'data-confirm': "Really delete?", 'data-method': :delete)
