= effective_form_with(model: [:admin, cpd_activity], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :cpd_category_id
  - else
    = f.select :cpd_category_id, Effective::CpdCategory.sorted.all, label: 'Category'

  .row
    .col
      = f.text_field :title, label: 'Title'
      = f.rich_text_area :body, label: "Body"
    .col
      = f.text_field :amount_label,
        hint: 'hours of work, papers written, courses attended'

      = f.text_field :amount2_label,
        hint: 'continuing education units'

      = f.check_box :requires_upload_file

  = effective_submit(f)
