= tabs do
  = tab 'Audit Level' do
    = render 'admin/cpd_audit_levels/form_cpd_audit_level', cpd_audit_level: cpd_audit_level

  - if cpd_audit_level.persisted?
    = tab 'Sections and Questions' do
      = tabs do
        - cpd_audit_level.cpd_audit_sections.each do |cpd_audit_section|
          = tab(cpd_audit_section.to_s) do
            = render 'admin/cpd_audit_levels/form_cpd_audit_section', cpd_audit_level: cpd_audit_level, cpd_audit_section: cpd_audit_section

    - if cpd_audit_level.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_datatable(cpd_audit_level.log_changes_datatable)
