= tabs do
  = tab 'Audit Level' do
    = render 'admin/cpd_audit_levels/form_cpd_audit_level', cpd_audit_level: cpd_audit_level

  - if cpd_audit_level.persisted?
    = tab 'Sections and Questions' do
      %p
        Each of the following sections is a step on the audit wizard.
        The All Steps content will be displayed as well as the top and bottom content.

      = tabs do
        - cpd_audit_level.cpd_audit_level_sections.each do |cpd_audit_level_section|
          = tab(cpd_audit_level_section.to_s) do
            = render 'admin/cpd_audit_levels/form_cpd_audit_level_section', cpd_audit_level: cpd_audit_level, cpd_audit_level_section: cpd_audit_level_section

    = tab 'Auditee Wizard' do
      = render 'admin/cpd_audit_levels/form_content_audit', cpd_audit_level: cpd_audit_level

    = tab 'Audit Reviewer Wizard' do
      = render 'admin/cpd_audit_levels/form_content_audit_review', cpd_audit_level: cpd_audit_level

    - if cpd_audit_level.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(cpd_audit_level.log_changes_datatable)
