= f.hidden_field :item_id
= f.hidden_field :item_type

- recommendations = cpd_audit_review.cpd_audit_level.recommendations

- if recommendations.length > 3
  = f.select :recommendation, recommendations
- else
  = f.radios :recommendation, recommendations, inline: true

= f.text_area :comments
