= f.hidden_field :item_id
= f.hidden_field :item_type

- determinations = cpd_audit_review.cpd_audit_level.determinations

- if determinations.length > 3
  = f.select :recommendation, determinations
- else
  = f.radios :recommendation, determinations, inline: true

= f.text_area :comments
