= card(cpd_audit_review.wizard_step_title(step)) do
  %table.table.table-hover
    %thead
      %th Question and #{cpd_audit_review.cpd_audit.user}'s Response
      %th #{cpd_audit_review.user}'s Review
    %tbody
      - cpd_audit_level_section.cpd_audit_level_questions.each_with_index do |cpd_audit_level_question, index|
        - cpd_audit_response = cpd_audit_review.cpd_audit.cpd_audit_response(cpd_audit_level_question)
        - next if cpd_audit_response.new_record?

        - cpd_audit_review_item = cpd_audit_review.cpd_audit_review_item(cpd_audit_response)

        %tr
          %td
            .mb-3= render('effective/cpd_audit_level_questions/cpd_audit_level_question', cpd_audit_level_question: cpd_audit_level_question)

            %p
              %strong Auditee Response:

            .mb-3= render('effective/cpd_audit_responses/cpd_audit_response', cpd_audit_response: cpd_audit_response)

          %td
            = render('effective/cpd_audit_review_items/cpd_audit_review_item', cpd_audit_review_item: cpd_audit_review_item)
