= card(cpd_audit_review.wizard_step_title(step)) do
  %table.table.table-hover
    %thead
      %th #{cpd_audit_review.cpd_audit.user}'s #{cpd_statement}
      %th #{cpd_audit_review.user}'s Review

    %tbody
      - cpd_statement.cpd_statement_activities.each do |cpd_statement_activity|
        - cpd_audit_review_item = cpd_audit_review.cpd_audit_review_item(cpd_statement_activity)

        %tr
          %td
            = render('effective/cpd_statement_activities/cpd_statement_activity', cpd_statement_activity: cpd_statement_activity)
          %td
            = render('effective/cpd_audit_review_items/cpd_audit_review_item', cpd_audit_review_item: cpd_audit_review_item)
