= render('layout') do
  - raise('expected a completed cpd_audit_review') unless resource.completed?

  .text-center
    .row
      .col-2
      .col-8
        .alert.alert-success Audit Review Submitted!

  %p
    The following audit review was successfully submitted at
    = succeed('.') do
      = resource.submitted_at.strftime('%F')

  %p Thank you for your review.

  .mb-4= render(resource)

  %br
  .text-center= link_to 'Home', root_path, class: 'btn btn-primary'
