= render('layout') do
  %p You have been selected to conduct a #{resource.cpd_audit.cpd_audit_level} audit with the following auditee:

  %ul
    %li #{resource.cpd_audit.user} <#{mail_to(resource.cpd_audit.user.email)}>

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.radios :conflict_of_interest, cpd_audit_conflict_of_interest_collection,
      inline: true, required: true

    = f.show_if :conflict_of_interest, true do
      = f.text_area :conflict_of_interest_reason, required: true

    %hr
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
