= render('layout') do
  %h1= @page_title

  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  - cpd_audit_level_section = resource.cpd_audit.cpd_audit_level_section(step)
  - raise("no cpd audit section for #{step}") if cpd_audit_level_section.blank?

  %h3 Review Section
  %p Please review auditee responses to the #{cpd_audit_level_section} section:

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    - if cpd_audit_level_section.top_content.present?
      .mb-2= cpd_audit_level_section.top_content

    %table.table.table-hover
      %thead
        %th Question and #{resource.cpd_audit.user}'s Response
        %th #{cpd_audit_review.user}'s Review
      %tbody
        - cpd_audit_level_section.cpd_audit_level_questions.each_with_index do |cpd_audit_level_question, index|
          - cpd_audit_response = resource.cpd_audit.cpd_audit_response(cpd_audit_level_question)
          - next if cpd_audit_response.new_record?

          - cpd_audit_review_item = resource.cpd_audit_review_item(cpd_audit_response)

          %tr
            %td
              .mb-3= render(cpd_audit_level_question)

              %p
                %strong Auditee Response:

              .mb-3= render(cpd_audit_response)
            %td
              = f.fields_for :cpd_audit_review_items, cpd_audit_review_item do |fi|
                = render('/effective/cpd_audit_review_items/fields', f: fi, cpd_audit_review: resource)

    - if cpd_audit_level_section.bottom_content.present?
      .mb-2= cpd_audit_level_section.bottom_content

    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
