= render('layout') do
  %h1= @page_title

  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  - cpd_statement = resource.cpd_statement(step)
  - raise("no cpd statement for #{step}") if cpd_statement.blank?

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    %h3 Review Activities
    %p Please review the following activities:

    %table.table.table-hover
      %thead
        %th #{resource.cpd_audit.user}'s #{cpd_statement}
        %th Your Review
      %tbody
        - cpd_statement.cpd_statement_activities.each do |cpd_statement_activity|
          - cpd_audit_review_item = resource.cpd_audit_review_item(cpd_statement_activity)

          %tr
            %td
              .mb-3
                = render('/effective/cpd_statement_activities/cpd_statement_activity', cpd_statement_activity: cpd_statement_activity)
            %td
              = f.fields_for :cpd_audit_review_items, cpd_audit_review_item do |fi|
                = render('/effective/cpd_audit_review_items/fields', f: fi, cpd_audit_review: resource)

    %hr
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
