= render('layout') do
  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    %hr

    %p The following rolling comments will be displayed for your use on each step.
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
