= render('layout') do
  .mb-3
    = collapse('Show / hide audit review...', card_class: '') do
      = render(resource)

  %p Please provide your final recommendation on #{resource.cpd_audit.user}:

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    - recommendations = resource.cpd_audit_level.recommendations

    - if recommendations.length > 3
      = f.select :recommendation, recommendations
    - else
      = f.radios :recommendation, recommendations, inline: true

    %hr
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
