= render('layout') do
  %p You have been selected to conduct a #{resource.cpd_audit.cpd_audit_level} audit with the following auditee:

  %ul
    %li #{resource.cpd_audit.user} <#{mail_to(resource.cpd_audit.user.email)}>

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.submit 'Start', center: true
