= render('layout') do
  %h1= @page_title

  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  -# - if resource.cpd_audit_level.start_content.present?
  -#   .mb-2= resource.cpd_audit_level.start_content

  %h3 Review Activities
  %p Please review auditee cpd statements:

  - auditee = resource.cpd_audit.user
  - datatable = EffectiveCpdCompletedStatementsDatatable.new(user_id: auditee.id, actions: false)

  - if datatable.blank?(self)
    %p
      %strong There are no completed CPD statements from #{auditee}.
  - else
    = render_datatable(datatable, simple: true)

  - datatable.collection.sorted.each do |cpd_statement|
    .mb-3
      = collapse("#{cpd_statement.to_s}...", card_class: 'mb-3') do
        = render('effective/cpd_statements/cpd_statement', cpd_statement: cpd_statement)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    %hr
    %p The following comments will be displayed to you on each step.
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
