= render('layout') do
  - auditee = resource.cpd_audit.user

  %h2 Review Statements
  %p #{auditee} has submitted the following statements:

  - datatable = EffectiveCpdCompletedStatementsDatatable.new(user_id: auditee.id, actions: false)

  - if datatable.blank?(self)
    %p
      %strong There are no completed CPD statements from #{auditee}.
  - else
    = render_datatable(datatable, simple: true)

  %h2 All Statements
  %p Click to expand any statements

  - datatable.collection.sorted.each do |cpd_statement|
    .mb-3
      = collapse("#{cpd_statement.to_s}...", card_class: 'mb-3') do
        = render('effective/cpd_statements/cpd_statement', cpd_statement: cpd_statement)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    %hr
    = f.text_area :comments, label: 'Reviewer comments'

    = f.submit 'Save and Continue', center: true
