= render('layout') do
  %p Please review your recommendations before submitting.

  %p
    Once submitted you
    %strong will not
    be able to change your recommendation.

  .mb-4= render(resource)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.submit 'Submit Audit Review', center: true
