= effective_form_with(model: [:admin, cpd_cycle], engine: true) do |f|
  = f.text_field :title,
    hint: "The title of this #{cpd_cycle_label}. Something like #{Time.zone.now.year} Continuing Professional Development"

  = f.date_field :start_at,
    hint: "The first date statements may be submited for this #{cpd_cycle_label}"

  = f.date_field :end_at,
    hint: "The last date statements may be created for this #{cpd_cycle_label}. leave blank for no end date."

  - if f.object.new_record?
    - latest_cycle = Effective::CpdCycle.latest_cycle

    - if latest_cycle.present?
      = f.static_field :continue_from, value: latest_cycle,
        hint: "The next #{cpd_cycle_label} will be carried forward from last one. Please make sure the above #{cpd_cycle_label} is the most recent one."

    = f.submit "Save and Create Next #{cpd_cycle_label.titleize}"

  - if f.object.persisted?
    = f.number_field :required_score,
      hint: "Statements require at least this many #{cpd_credits_label} to submit"

    %h2 Categories

    %p
      Click the Activities tab to add activities to each category.

    %p
      The max #{cpd_credits_label} per #{cpd_cycle_label} value determines the maximum number of
      #{cpd_credits_label} a statement from this #{cpd_cycle_label} may earn through activities
      in this category.

    %p
      Any remaining #{cpd_credits_label} will be carried forward to future
      #{cpd_cycles_label}, upto the activity's max #{cpd_cycles_label} can carry forward value.

    = f.has_many :cpd_categories, class: 'tight' do |fc|
      .card.mb-4
        .card-body
          .row
            .col
              = fc.text_field :title, label: 'Category title'
              = fc.number_field :max_credits_per_cycle,
                label: "Max #{cpd_credits_label} per #{cpd_cycle_label}",
                hint: 'leave blank for no limit'

            .col= fc.rich_text_area :body, required: true

    = f.submit
