- raise('expected a conflicted cpd audit') unless cpd_audit.conflicted? || cpd_audit.errors.present?

%h2 Conflict of Interest
%p The auditee has indicated a conflict of interest:
= render('effective/cpd_audits/conflict', cpd_audit: cpd_audit, step: :conflict)

%h2 Resolve Conflict of Interest
%p
  Please use the table below to remove any conflicting audit reviews, and add another reviewer.

= card('Audit Reviewers') do
  %p There should be at least one audit reviewer.

  - datatable = Admin::EffectiveCpdAuditReviewsDatatable.new(cpd_audit_id: cpd_audit.id)
  = render_datatable(datatable, inline: true, simple: true)

  = effective_form_with(model: [:admin, cpd_audit], engine: true) do |f|
    %p Send email
    = email_form_fields(f, :cpd_audit_conflict_resolved)

    = f.submit 'Resolve Conflict of Interest', center: true
