= tabs do
  = tab 'Audit' do
    - if cpd_audit.persisted?
      = render 'effective/cpd_audits/cpd_audit', cpd_audit: cpd_audit
    - else
      = render 'admin/cpd_audits/form_cpd_audit', cpd_audit: cpd_audit

  - if cpd_audit.persisted?
    = tab 'Audit Reviews' do
      - datatable = Admin::EffectiveCpdAuditReviewsDatatable.new(cpd_audit_id: cpd_audit.id)
      = render_inline_datatable(datatable)

    = tab 'Auditee CPD Statements' do
      - datatable = Admin::EffectiveCpdStatementsDatatable.new(user_id: cpd_audit.user.id, user_type: cpd_audit.user.class.name)
      = render_inline_datatable(datatable)

    - if cpd_audit.respond_to?(:log_changes_datatable)
      = tab 'Logs' do
        = render_inline_datatable(cpd_audit.log_changes_datatable)
