- statement = cpd_statement_activity.cpd_statement
- activity = cpd_statement_activity.cpd_activity
- rule = statement.cpd_cycle.rule_for(activity)

= effective_form_with(model: statement, url: wizard_path(step), method: :put) do |f|
  %h3= activity

  - if activity.body.present?
    = activity.body

  .mb-3
    %strong #{cpd_credits_label.titleize} Calculation
    %br
    = rule.credit_description

  = f.fields_for :cpd_statement_activities, cpd_statement_activity do |fa|
    = fa.hidden_field :cpd_category_id
    = fa.hidden_field :cpd_activity_id

    .row
      .col
        - if activity.amount_label.present?
          = fa.number_field :amount, label: activity.amount_label.titleize, required: true

        - if activity.amount2_label.present?
          = fa.number_field :amount2, label: activity.amount2_label.titleize, required: true

        - if activity.amount_label.blank? && activity.amount2_label.blank?
          = fa.hidden_field :amount, value: 1
          %p One (1) #{activity}

        = fa.file_field :files, label: 'Supporting Documents', required: activity.requires_upload_file?

      .col
        = fa.text_area :description, placeholder: 'Please provide any additional information about this activity'

  = f.submit(cpd_statement_activity.new_record? ? 'Add Activity' : 'Save Activity')
