= render('layout') do
  %h1= resource.cpd_cycle

  - if resource.cpd_cycle.all_steps_content.present?
    .mb-2= resource.cpd_cycle.all_steps_content

  - if resource.cpd_cycle.agreements_content.present?
    .mb-2= resource.cpd_cycle.agreements_content

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    %h2 Agreements
    = f.check_box :confirm_read, label: "Yes, I have read the above content and agreements"
    = f.check_box :confirm_factual, label: "Yes, I declare all provided information to be factual and complete"

    %h2 Resume
    = f.file_field :files, label: 'Attach resume', hint: 'Please attach your resume or other CPD related documents'

    = f.submit 'Save and Continue', center: true
