= render('layout') do
  %h1= resource.cpd_cycle

  - if resource.cpd_cycle.all_steps_content.present?
    .mb-2= resource.cpd_cycle.all_steps_content

  - if resource.cpd_cycle.start_content.present?
    .mb-2= resource.cpd_cycle.start_content

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.submit 'Start', center: true
