= card(cpd_audit) do
  %table.table
    %tbody
      %tr
        %th Auditee
        %td
          = cpd_audit.user
          %br
          %small= mail_to cpd_audit.user.email

      - if request.path.start_with?('/admin') && respond_to?(:edit_admin_user_path)
        %tr
          %th User
          %td= link_to(cpd_audit.user, edit_admin_user_path(cpd_audit.user))

      %tr
        %th Audit Reviewer
        %td
          - cpd_audit.cpd_audit_reviews.each do |cpd_audit_review|
            %p
              = cpd_audit_review.user
              %br
              %small= mail_to cpd_audit_review.user.email

      %tr
        %th Date of notification
        %td= cpd_audit.notification_date.strftime('%F')

      - if cpd_audit.extension_date.present?
        %tr
          %th Approved date of extension
          %td= cpd_audit.extension_date.strftime('%F')

      %tr
        %th Status
        %td
          %span.badge.badge-secondary= cpd_audit.status

      %tr
        %th Determination
        %td= cpd_audit.determination.presence || '-'

      %tr
        %th Summary
        %td= cpd_audit_summary_text(cpd_audit)
