= render('layout') do
  %h1= @page_title

  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  - if resource.cpd_audit_level.conflict_content.present?
    .mb-2= resource.cpd_audit_level.conflict_content

  %p You have been selected for #{resource.cpd_audit_level} audit and matched with:

  %ul
    - resource.cpd_audit_reviews.each do |cpd_audit_review|
      %li #{cpd_audit_review.user} <#{mail_to(cpd_audit_review.user.email)}>

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.radios :conflict_of_interest, cpd_audit_conflict_of_interest_collection,
      inline: true, required: true

    = f.show_if :conflict_of_interest, true do
      = f.text_area :conflict_of_interest_reason, required: true

    = f.show_if :conflict_of_interest, false do
      = f.hidden_field :conflict_of_interest_reason, value: ''

    = f.submit 'Save and Continue', center: true
