= render('layout') do
  %h1= @page_title


  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  - if resource.cpd_audit_level.start_content.present?
    .mb-2= resource.cpd_audit_level.start_content

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    - cpd_audit_section = resource.cpd_audit_section(step)
    - raise("no cpd audit section for #{step}") if cpd_audit_section.blank?

    - cpd_audit_section.cpd_audit_questions.each do |cpd_audit_question|
      - cpd_audit_response = resource.cpd_audit_response(cpd_audit_question)

      = f.fields_for :cpd_audit_responses, cpd_audit_response do |fcar|
        = render('/effective/cpd_audit_responses/fields', f: fcar, cpd_audit_question: cpd_audit_question)


    -# - resource.poll.poll_questions.deep.all.each_with_index do |poll_question, index|
    -#   - ballot_response = resource.ballot_response(poll_question)

    -#   = f.fields_for :ballot_responses, ballot_response do |fbr|
    -#     = render('/effective/ballot_responses/fields', f: fbr, poll_question: poll_question)




    = f.submit 'Start', center: true
