= render('layout') do
  - cpd_audit_level_section = resource.cpd_audit_level_section(step)
  - raise("no cpd audit section for #{step}") if cpd_audit_level_section.blank?

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    - if cpd_audit_level_section.top_content.present?
      .mb-2= cpd_audit_level_section.top_content

    - cpd_audit_level_section.cpd_audit_level_questions.each do |cpd_audit_level_question|
      - cpd_audit_response = resource.cpd_audit_response(cpd_audit_level_question)

      = f.fields_for :cpd_audit_responses, cpd_audit_response do |fcar|
        .mt-2= render('/effective/cpd_audit_responses/fields', f: fcar, cpd_audit_level_question: cpd_audit_level_question)

    - if cpd_audit_level_section.bottom_content.present?
      .mb-2= cpd_audit_level_section.bottom_content

    = f.submit 'Start', center: true
