= render('layout') do
  - if resource.was_exemption_requested?
    = render('effective/cpd_audits/exemption', cpd_audit: resource, step: :exemption)

  %p The deadline to request an exemption is: #{resource.deadline_to_exemption.strftime('%F')}.

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.radios :exemption_request, cpd_audit_exemption_request_collection,
      inline: true, required: true

    = f.show_if :exemption_request, true do
      = f.text_area :exemption_request_reason, required: true

    = f.show_if :exemption_request, false do
      = f.hidden_field :exemption_request_reason, value: ''

    = f.submit 'Save and Continue', center: true
