= render('layout') do
  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.file_field :files

    = f.submit 'Save and Continue', center: true
