= render('layout') do
  %p You have been selected for #{resource.cpd_audit_level} audit and matched with:

  %ul
    - resource.cpd_audit_reviews.each do |cpd_audit_review|
      %li #{cpd_audit_review.user} <#{mail_to(cpd_audit_review.user.email)}>

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :current_step

    = f.submit 'Start', center: true
