= render('layout') do
  %h1= @page_title

  - if resource.cpd_audit_level.all_steps_content.present?
    .mb-2= resource.cpd_audit_level.all_steps_content

  - if resource.cpd_audit_level.waiting_content.present?
    .mb-2= resource.cpd_audit_level.waiting_content

  - if resource.conflict_of_interest?
    %h3 Conflict of Interest
    %p You have indicated there is a conflict of interest with the following match:

    %ul
      - resource.cpd_audit_reviews.each do |cpd_audit_review|
        %li #{cpd_audit_review.user} <#{mail_to(cpd_audit_review.user.email)}>

    = render("effective/cpd_audits/conflict", cpd_audit: resource, step: :conflict)

  - if resource.exemption_request?
    %h3 Exemption Request
    %p You have requested an exemption from this audit.
    = render("effective/cpd_audits/exemption", cpd_audit: resource, step: :exemption)

  - if resource.extension_request?
    %h3 Extension Request
    %p You have requested an extension to the deadline.
    = render("effective/cpd_audits/extension", cpd_audit: resource, step: :extension)

  %h3 Next Step
  %p= cpd_audit_summary_text(resource)
  %p You may not continue at this time. Please wait for an email with further instructions. Thank you.
